.chats {
    display: flex;
    flex-direction: column;
}

.chats__chat{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chats__column{
    display: flex;
    align-items: center;
}

.chats__profile{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.chats__name{
    font-weight: 600;
    margin-bottom: 5px;
}

.chats__time{
    font-size: 11px;
    opacity: 0.5;
}

