.friends{
    margin-top: 140px;
}

.friends__avatar-m{
    width: 45px;
    border-radius: 17px;
}

.friends__avatar-2p{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.friends__avatar-2p:last-child{
    bottom: 0;
    right: 0;
}

.friends__avatar-4p{
    width: 22px;
    height: 22px;
    border-radius: 7px;
    border: 1px solid #ffffff;
}

.friends__avatar-lg{
    width: 55px;
    height: 55px;
    border-radius: 22px;
    background-color: #9cc5e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends__avatar-lg i {
    font-size: 25px;
    color: #BFDDE5;
}

.friends__avatar-s{
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.friends__avatar-bday{
    width: 40px;
    height: 40px;
    background-color: #e9566e;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends__avatar-me{
    width: 45px;
    height: 45px;
    border-radius: 18px;
    background-color: #9cc5e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends__avatar-me i {
    font-size: 25px;
    color: #BFDDE5;
}