.more{
    margin-top: 80px;
}

.profile__me{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.profile__column{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.profile__name{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.profile__mail{
    font-size: 13px;
    opacity: 0.7;
}

.schedule__box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
    padding: 17px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 40px;
}

.schedule__box i {
    font-size: 20px;
    opacity: 0.8;
    margin-right: 5px;
}

.schedule__mail{
    margin-left: 15px;
    margin-right: 70px;
}

.schedule__plan{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}

.icons__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.icons__icon{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.icons__icon i {
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.fa-flask{
    position: relative;
}

.dot{
    position: absolute;
    top: -25px;
    right: -10px;
    font-size: 25px;
    color: #ee4300;
}